@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 62px 165px 91px 165px;
}

/* Header code start */

.header__wrapper {
    margin-top: 127px;
    width: 80%;
}

.header__img {
    position: absolute;
    right: 0;
    top: -2.5rem;
}

.header__title {
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    color: #191826;
    letter-spacing: -1px;
}

.header__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin: 0;
}

/* Header code end */

/* Main code start */

.main__bg {
    height: 600px;
    background-color: #191826;
    margin-top: 321px;
    margin-bottom: 202px;
    border-radius: 1rem;
}

.main__img {
    position: absolute;
    width: 312px;
    height: 642px;
    left: 267px;
    top: 647px;
}

.main__wrapper {
    background-color: #fa7453;
    position: absolute;
    width: 446px;
    height: 625px;
    border-radius: 12px;
    padding: 58px 59px 48px 54px;
    right: 260px;
    top: 950px;
}

.main__wrapper-title {
    font-weight: 700;
    font-size: 40px;
    color: #FCFAF9;
    margin: 0;
    margin-bottom: 22px;
}

.main__wrapper-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #FCFAF9;
    margin-bottom: 39px;
}

.main__wrapper-price {
    color: #FCFAF9;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.2px;
    margin-bottom: 46px;
}

.main__wrapper-price span {
    font-weight: 700;
    font-size: 65px;

}

.main__ios-dnl {
    background-color: #191826;
    color: #FCFAF9;
    border-radius: 12px;
    text-decoration: none;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__ios-img {
    margin-right: 0.7rem;
}

.main__ios-dnl:hover,
.main__ios-dnl:focus,
.main__ios-dnl:active {
    background-color: #66E2DC;
}

.main__andr-dnl {
    background-color: #FCFAF9;
    color: #191826;
    border-radius: 12px;
    text-decoration: none;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__andr-img {
    margin-right: 0.7rem;
}

.main__andr-dnl:hover,
.main__andr-dnl:focus,
.main__andr-dnl:active {
    background-color: #FFB964;
}


/* Main code end */

/* Footer code start */

.footer__cointainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.footer__email {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.footer__email:hover,
.footer__email:focus,
.footer__email:active {
    color: #fa7453;
}

ul {
    list-style: none;
}

.footer__social-logos {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.footer__logo-fb:hover,
.footer__logo-fb:focus,
.footer__logo-fb:active,
.footer__logo-inst:hover,
.footer__logo-inst:focus,
.footer__logo-inst:active,
.footer__logo-tw:hover,
.footer__logo-tw:focus,
.footer__logo-tw:active {
    fill: #fa7453;
}

.attribution {
    margin-top: 50px;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.attribution a:hover,
.attribution a:focus,
.attribution a:active {
    color: purple;
}

/* Footer code end */

/* Responsive for tablet start */

@media (max-width: 1024px) {
    
    body {
        padding: 62px 39px 85px 39px;
    }

    .main__img {
        width: 270px;
        height: 556px;
        left: 120px;
        top: 750px;
    }

    .main__wrapper {
        width: 399px;
        /* height: 546px; */
        right: 120px;
        top: 1050px;
        padding: 48px;
    }

    .main__wrapper-price {
        font-weight: 400;
        font-size: 20px;
        margin: 32px 0;
    }

    .main__wrapper-title {
        font-size: 32px;
        margin-bottom: 12px;
    }

    .main__wrapper-subtitle {
        font-size: 20px;
        line-height: 28px;
        margin: 0;
    }

    .main__ios-dnl {
        background-color: #191826;
        color: #FCFAF9;
        border-radius: 12px;
        text-decoration: none;
        margin-bottom: 16px;
    }



}

/* Responsive for tablet end */